.overview-title {
  height: 40px;
  width: 100%;
  color: #4e4747;
  border: 1px solid #d1cdcd;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 30px;
  padding-left: 8px;
  padding-top: 5px;
  font-size: 24px;
}
.overwrite_title {
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.overview_conclusion {
  background-color: #f7f9f6;
  border: 1px solid #ecce98;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
}

.change_cursor_overview:hover {
  cursor: pointer;
  opacity: 0.8;
}
.close_all_divs {
  border: 1px solid #d6d6db;
  width: 60px;
  border-radius: 10px;
  padding-left: 2px;
  background: #ffffff;
  position: fixed;
  right: 0;
  margin-right: 3px;
  margin-top: -10px;
  z-index: 100;
}
.close_all_divs:hover {
  cursor: pointer;
  background-color: #f3b6b6;
}
.records_text {
  display: inline;
  color: #4b4a4a;
  font-size: 17px;
  margin-left: 3px;
}
.records_value {
  display: inline;
  font-size: 18px;
  margin-top: 10px;
  color: #4b5adb;
  font-weight: 600;
}
.internal_navigation {
  border: 1px solid #8e8e8e;
  border-radius: 3px;
  background: #e6e6e6;
  margin-right: 5px;
  padding: 2px;
  display: inline-block;
}
.internal_navigation:hover {
  opacity: 0.9;
  cursor: pointer;
}
