.title_research {
  color: 242426;
  margin-left: 17px;
  font-size: 18px;
  margin-bottom: 5px;
  display: inline;
}
.orderby_heading {
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  background-color: #ebebeb;
  padding: 1px;
}
.research_main_image {
  background-color: #6a9ea8;
  border-radius: 16px;
}
.number_in_left {
  position: relative;
  top: -1px;
  color: #353636;
  border: 1px solid #c5c5c5;
  border-left: 0px;
  border-top: 0px;
  padding-right: 2px;
  padding-left: 2px;
  box-shadow: 0px 0px 1px 0 grey;
}
.pdf_in_right {
  float: right;
}
.research_url_header {
  display: inline-block;
  margin-left: 50px;
}
.research_date_element {
  display: inline-block;
  margin-left: 100px;
}
.research_date_element_val {
  margin-left: 5px;
  font-weight: 600;
  color: #545759;
}
.research_wrapper {
  position: relative;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #fcfcfc;
  margin-top: 20px;
  padding-bottom: 15px;
}
.research_info_box {
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 3px;
}
.study_name {
  margin-left: 50px;
  margin-top: 10px;
  display: inline-block;
}
.study_name_val {
  display: inline-block;
  margin-left: 5px;
}
/*-----------------------------------------------------
stats
-------------------------------------------------------*/

.stats_wrapper {
  border: 1px solid #909090;
  padding: 0px 5px;
  border-left: 0px;
  border-right: 0px;
}
.problem_wrapper,
.conclusion_wrapper {
  border: 1px solid #909090;
  border-top: 0px;
  padding: 0px 5px;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 3px;
}
.conclusion_wrapper {
  border-bottom: 0px;
}
.tag_stats,
.problem,
.conclusion_res {
  border: 1px solid #c5c5c5;
  position: relative;
  top: -4px;
  left: -5px;
  border-left: 0px;
  border-top: 0px;
  border-radius: 1px;
  padding: 1px;
  color: #3a3a3c;
}
.graph_checkbox_stats0 {
  margin-left: 2px !important;
}
.percent_research {
  font-size: 18px;
}
