.zero-item {
  opacity: 0.5;
}
.info-box-stats {
  margin-top: 2px;
  border: 1px solid grey;
  border-radius: 4px;
  padding-left: 3px;
}
.numeration {
  border-right: 1px solid #f1dbdb;
  margin-left: 9px;
  font-size: 15px;
}
.numeration_last {
  border-right: 1px solid #f1dbdb;
  margin-left: 1px;
}
.number_in {
  position: relative;
  left: 5px;
  font-size: 15px;
}
.middle_value {
  margin-left: 5px;
  font-size: 17px;
}
.right_value {
  margin-top: 3px;
  margin-right: 30px;
  background-color: #817e7e !important;
}
.right_value_heading {
  margin-top: 3px;
  margin-right: 30px;
  background-color: #817e7e !important;
}
.heartburn_gerd_reflux {
  color: #e66363;
}
.inlineblock {
  cursor: pointer;
  opacity: 0.7;
  display: inline-block !important;
  margin-left: 10px;
  color: #151616 !important;
  background-color: #dff0d8 !important;
  font-size: 90% !important;
}
.highlight_it {
  background-color: #f18e67 !important;
}
.chart-property {
  width: 100%;
  height: 250px;
}
.bottom-offset {
  margin-bottom: 30px !important;
}

.number_eleven {
  margin-left: 2px;
}
.conclusion {
  color: #aa6825 !important;
}
.first_option {
}

.second_option {
}

.third_option {
}
.first_option:hover,
.second_option:hover,
.third_option:hover {
  opacity: 0.7;
  cursor: pointer;
}
.conclusion_color {
  color: #414141;
}
.dr_heading {
  color: #cd8011;
  font-size: 17px;
}
.conclusion_div {
  background-color: #f7f9f6;
  border: 1px solid #ecce98;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
.last_graph_bottom {
  margin-bottom: 10px;
}
.border_label_span {
  border: 1px solid #dbdbdb;
}
.radio_normal {
  border: 1px solid #726e6e;
  border-radius: 1px;
  color: #474444;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 4px;
  display: inline-block;
}
.radio_normal:hover {
  cursor: pointer;
}
.radio_clicked {
  border: 1px solid #726e6e;
  border-radius: 1px;
  color: #282525;
  background-color: #dceef8;
  margin-right: 4px;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
}
.radio_clicked:hover {
  cursor: pointer;
}
.others_heading {
  color: #2165a4;
  font-size: 15px;
}
.list-group {
  margin-top: -10px !important;
}
